@charset "UTF-8";

body{
    background-color: rgb(19, 18, 18);
}
.form-title{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(204, 204, 204);
}
.create-area{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;

}
.create{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(223, 211, 211);
    background-color: rgb(21, 20, 26);
    height: 415px;
    width: 320px;
    border-radius:20px;
    padding: 20px;
    border-style: solid;
    border-color: purple;
}
.create form{
    display: flex;
    flex-direction: column;
}
.create input{
    display: flex;
    background-color: rgb(36, 18, 37);
    color: rgb(223, 211, 211);
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 250px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    outline: none;
}
.create img{
    height: auto;
    width: 80px;
}
form [type="submit"]{
    background-color: blueviolet;
    height: 40px;
    margin-top: 30px;
    cursor: pointer;
}
input::placeholder{
    text-align: center;
    color: rgb(223, 211, 211);
}
p a{
    text-decoration: none;
}